<div class="row w-50 m-5">
    <input type="text" class="form-control" name="name" placeholder="Cerca per nome" [(ngModel)]="jsonIn.name">
    <button class="btn btn-primary"  (click)="searchCocktailByName()">Cerca</button>
    <select name="ingredient" [(ngModel)]="jsonIn.ingredient" (change)="searchCocktailByIngredient()">
        <option value="" disabled>Select one ..</option>
        <option *ngFor="let ingredient of ingredientList" [value]="ingredient">{{ingredient}}</option>
    </select>
</div>

<div class="container-lg">
    <div class="row g-4 d-flex justify-content-center justify-content-md-start">
        <div *ngFor=" let drink of drinks " role="button" [routerLink]="[ '/drink',drink.idDrink]"
            class=" col-10 col-sm-6 col-md-3 col-lg-3">
            <app-drink-component [drink]="drink"></app-drink-component>
        </div>
        <div class="col-12 alert alert-warning" *ngIf="!this.drinks.length">Nessun risultato per questa lettera</div>
    </div>
</div>



